
.orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
#typewriter-text {
  border-right: .15em solid oklch(76.5% 0.177 163.223); 
  white-space: nowrap; 
  overflow: hidden; 
  margin: 0 auto; 
  letter-spacing: .15em;
  animation: 
    blink-caret .75s step-end infinite;
}

.cursor {
    animation: 
    blink-caret .75s step-end infinite;
}

/* The blinking cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: oklch(76.5% 0.177 163.223); }
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}